<% if @items.any? %>
  <nav class="breadcrumbs nforumcaption">
    <% @items.each do |item| %>
      <% if item.path %>
        <%= link_to item.name, item.path, class: "forumlink" %>
      <% else %>
        <%= item.name %>
      <% end %>
      <%= "::" unless item == @items.last %>
    <% end %>
  </nav>
<% end %>
