<nav class="breadcrumbs nforumcaption">
  <% @breadcrumbs.each do |crumb| %>
    <% if crumb[:path] %>
      <%= link_to crumb[:title], crumb[:path], class: "forumlink" %>
    <% else %>
      <%= crumb[:title] %>
    <% end %>
    <%= "::" unless crumb == @breadcrumbs.last %>
  <% end %>
</nav>
