<div class="custom-card" id="<%= id %>">
  <div class="card-header">
    <div class="header-content">
      <%= image_tag("bullet.png") %>
      <span><%= title %></span>
    </div>
  </div>
  <div class="card-body">
    <%= content %>
  </div>
</div>
