<div class="pagination">
  <%= page_links %>
</div>

<style>
  .pagination {
    display: inline;
  }
  
  .nextprev_current {
    font-weight: bold;
    text-decoration: underline;
  }
  
  .nextprev_link {
    text-decoration: none;
    color: #0000EE;  /* Default link color */
  }
  
  .nextprev_link:hover {
    text-decoration: underline;
  }
</style>