<h1>Topics</h1>
<ul>
  <% @topics.each do |topic| %>
    <li><%= link_to topic.title, category_topic_path(@category, topic) %></li>
  <% end %>
</ul>
<%= link_to 'New Topic', new_category_topic_path(@category) %>
