<%= render(CardComponent.new(title: t("users"))) do %>
  <h1>All Users</h1>

  <% @users.each do |user| %>
    <div>
      <%= link_to user.username, user_path(user) %>
      <% if user.admin? %>
        <span>(Admin)</span>
      <% end %>
      user last online
      <%= time_ago_in_words(user&.last_seen_at) %>
      ago
    </div>
  <% end %>
<% end %>
