<div class="custom-card">
  <div class="card-header">
    <div class="header-content">
      <%= image_tag("bullet.png") %>
      <span>
        <%= t("users") %>
      </span>
    </div>
  </div>

  <div class="card-body">
    <h1>All Users</h1>

    <% @users.each do |user| %>
      <div>
        <%= link_to user.username, user_path(user) %>
        <% if user.admin? %>
          <span>(Admin)</span>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
