<% if defined?(breadcrumbs) && breadcrumbs.any? %>
  <nav class="breadcrumbs nforumcaption">
    <% breadcrumbs.each do |crumb| %>
      <%= link_to crumb.name, crumb.path, class: "forumlink" if crumb.path %>
      <%= crumb.name if !crumb.path %>
      <% unless crumb == breadcrumbs.last %>
        ::
      <% end %>
    <% end %>
  </nav>
<% end %>
