<header>
  <div class="banner-container">
    <%= image_tag("logo.png", width: 200) %>
  </div>
  <hr/>
  <div class="nav-bar">
    <button class="menu-button">☰</button>
    <section class="search-bar">
      <input class="tbox search"/>
      <%= image_tag("search.png") %>
    </section>
  </div>
  <hr/>
</header>
