<header>
  <div class="banner-container">
    <%= image_tag("logo.png", width: 200) %>
  </div>
  <hr/>
  <section class="search-bar">
    <input class="tbox search"/>
    <%= image_tag("search.png") %>
  </section>
  <hr/>
</header>
