/* ---- Layout ----  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-display: swap;
  line-height: 1.5;
  color: #373737;
  background-color: #E7E7E7;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  gap: 16px;
}

header {
  color: #fff;
}

header .banner-container {
  background-color: #91a3c6;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.4rem;
}

.banner-container img {
  object-fit: contain;
  width: 455px;
  height: 77px;
}

header .search-bar {
  display: flex;
  justify-content: end;
  align-content: center;
  padding-top: 4px;
  padding-bottom: 4px;
  gap: 4px;
  margin-left: auto;
}

.search {
  height: 16px;
  width: 130px;
}

.content-area {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  padding: 0.6rem;
}

.container {
  display: flex;
  flex-grow: 1;
  width: 100%;
  gap: 1rem;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 4px;
}

.menu-button {
  font-size: 2rem;
  display: flex;
  border: none;
  background-color: transparent;
}

/* MEDIA QUERIES  */

@media (max-width: 768px) {
  .sidebar {
    display: none;
  }

  .menu-button {
    display: flex;
  }
}

@media (min-width: 768px) {
  .sidebar {
    display: flex;
  }

  .menu-button {
    display: none;
  }
}

.sidebar {
  flex-direction: column;
  flex-grow: 0;
  min-width: 150px;
  max-width: 20%;
  gap: 1rem;
}

.sidebar ul {
  list-style-type: none;
}

.main-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  gap: 8px;
  ;
}

/* Keep these below layout stuff */

.open {
  display: flex;
  min-width: 100%;
  max-width: 100%;
}

.sidebar-open {
  display: none;
}

/* Layout Helpers - Reusable */

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.gap-4 {
  gap: 0.5rem;
}

.stack {
  display: flex;
  flex-direction: column;
  padding: 8px;
}

/* ---- Button ----  */

.btn {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  text-decoration: none;
  border: none;
  border-radius: 0.5rem;
  background-color: transparent;
  cursor: pointer;
  max-width: max-content;
  transition: all 0.2s;
}

.btn:hover,
.btn:focus,
.btn:active {
  transform: scale(1.1);
  text-decoration: none;

}

.btn-group {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  padding: 0.25rem;
}

/* Card */

.custom-card {
  max-width: 100%;
  font-family: verdana, tahoma, arial, helvetica, sans-serif;
  font-size: 10px;
  background: #DAE7F3;
  color: #000;
  border-radius: 4px;
  box-shadow:
    #505559 0px 0px 1px 2px,
    #5a5e62 0px 4px 6px -1px,
    #8b8d90 0px 1px 0px inset;
  overflow: hidden;
}

.custom-card .card-header {
  height: 18px;
  font-size: 10px;
  font-family: verdana, tahoma, arial, sans-serif;
  color: #FFF;
  background: linear-gradient(#c7d3e6 10%, #869ac0 40%, #8d9fc2 50%);
  border-bottom: 1px solid black;
}

.custom-card .card-header .header-content {
  background: linear-gradient(#6c7e9e 50%, #5b6c8e 50%);
  display: flex;
  align-items: center;
  gap: 4px;
  height: 100%;
  width: max-content;
  padding: 0 24px 0 4px;
  border-radius: 0 11px 3px 0;
}

.custom-card .card-header img {
  height: 10px;
  width: 10px;
}

.custom-card .card-body {
  padding: 4px 5px 5px 4px;
}

/* Forum */

.category-title {
  color: #716d6d;
  font-size: 12px;
  text-decoration: underline;
}

/* EXPERIMENTAL  */

.link-button {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

a, .link-button {
  color: #716d6d;
  text-decoration: underline;
}

a:hover, .link-button {
  color: #2a3236;
  text-decoration: underline;
}

#header {
  background-image: url("header.png");
  background-repeat: repeat-x;
  border-bottom: #000 1px solid;
  height: 80px;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
}

.fcaption a {
  color: #ffffcc;
  text-decoration: underline;
}

.fcaption a:hover {
  color: #cccc99;
  text-decoration: underline;
}

.smalltext {
  font: 10px verdana, tahoma, arial, helvetica, sans-serif;
  color: #5d6e75;
}

.smallblacktext {
  font: normal 7pt verdana, tahoma, arial, helvetica, sans-serif;
  color: #000;
}

.indent {
  padding: 3px;
  margin: 5px;
  font: 9px verdana, tahoma, arial, sans-serif;
  color: #000060;
  border: 1px solid;
  background-color: #E3E2D7;
  border-bottom: #FFFFFF 1px solid;
  border-left: #000 1px solid;
  border-right: #FFFFFF 1px solid;
  border-top: #000 1px solid;
}

.defaulttext {
  font: 11px verdana, tahoma, arial, helvetica, sans-serif;
  color: #000;
}

td {
  font: 10px verdana, tahoma, arial, helvetica, sans-serif;
  color: #000;
  padding: 0px;
  text-align: left;
}

blockquote {
  font: italic 11px verdana, tahoma, arial, helvetica, sans-serif;
  color: #7e96ac;
}

.mediumtext {
  font: 11px verdana, tahoma, arial, helvetica, sans-serif;
  color: #000;
}

.mediumtext img {
  vertical-align: middle;
}

.nextprev {
  background-color: #eaeef2;
  border: 1px solid #696C6C;
  color: #000;
  font: normal 9px verdana, tahoma, arial, helvetica, sans-serif;
  text-align: center;
  padding: 2px;
  background-image: url("button.png");
}

.captiontext {
  font: 14px verdana, tahoma, arial, helvetica, sans-serif;
  color: #000;
}

.tbox {
  background-color: #eaeef2;
  border: #5e5d63 1px solid;
  color: #000000;
  font: 10px verdana, tahoma, arial, helvetica, sans-serif;
}

.tbox.chatbox {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.nextprev {
  background-color: #eaeef2;
  border: 1px solid #696C6C;
  color: #000;
  font: normal 9px verdana, tahoma, arial, helvetica, sans-serif;
  text-align: center;
  padding: 2px;
  background-image: url("button.png");
}

.button {
  background-color: #eaeef2;
  border: #000 1px solid;
  color: #000000;
  font: 9px verdana, tahoma, arial, helvetica, sans-serif;
  text-align: center;
  background-image: url("button.png");
}

.np {
  background-color: #eaeef2;
  border: #000 1px solid;
  color: #000000;
  font: 9px verdana, tahoma, arial, helvetica, sans-serif;
  text-align: center;
  padding: 2px;
}

form {
  margin: 2px 0px 0px 0px;
}

.spacer {
  padding: 2px 0px 2px 0px;
}

hr {
  border-top: #666 1px solid;
  border-bottom: #eee 1px solid;
  height: 2px;
  /* width: 92%; */
  text-align: center;
}

.border {
  border: #000 1px solid;
}

.border2 {
  border: #D5D5D5 1px solid;
}

.border3 {
  border: #000 1px solid;
}

.helpbox {
  border: 0px;
  background-color: transparent;
  color: #000;
  font: 9px tahoma, verdana, arial, helvetica, sans-serif;
}

.caption {
  padding: 0px 4px 0px 4px;
  border-bottom: #363A44 1px solid;
  border-left: #8A96B3 1px solid;
  border-right: #363A44 1px solid;
  border-top: #8A96B3 1px solid;
  background-color: #E1DFDF;
  color: #000;
  font: 13px tahoma, arial, verdana, helvetica, sans-serif;
  background-image: url("cap1.png");
}

.caption2 {
  padding: 0px 4px 0px 4px;
  color: #243B3B;
  font: 15px tahoma, arial, verdana, helvetica, sans-serif;
  text-align: center;
}

.caption3 {
  padding: 0px 4px 0px 4px;
  border-bottom: #C7C3C3 1px solid;
  border-left: #fff 1px solid;
  border-right: transparent;
  border-top: #fff 1px solid;
  background-color: #D5D5D5;
  color: #000;
  font: 13px tahoma, arial, verdana, helvetica, sans-serif;
}

.bodytable {
  padding: 8px;
  font: 10px verdana, tahoma, arial, helvetica, sans-serif;
  color: #000;
}

.bodytable2 {
  border: #D5D5D5 1px solid;
  padding: 8px;
  font: 11px verdana, tahoma, arial, helvetica, sans-serif;
  color: #404040;
}

.bodytable3 {
  padding: 8px;
  font: 10px verdana, tahoma, arial, helvetica, sans-serif;
  color: #000;
}

p {
  margin-top: 0px;
  margin-bottom: 0px
}

.fborder {
  border: #000000 1px solid;
  background-color: #fff;

}

.forumheader {
  background-color: #EBEFF2;
  font: 12px verdana, tahoma, arial, helvetica, sans-serif;
  color: #000;
  padding: 4px;
  background-image: url("cap1.png");
  border: #C3BDBD 1px solid;
}

.forumheader2 {
  background-color: #E4EAF2;
  font: 14px verdana, tahoma, arial, helvetica, sans-serif;
  color: #000;
  padding: 4px;
  border: #C3BDBD 1px solid;
}

.forumheader3 {
  background-color: #DFE6EF;
  font: 11px verdana, tahoma, arial, helvetica, sans-serif;
  color: #000;
  padding: 4px;
  border: #C3BDBD 1px solid;
}

.forumborder {
  border: #000080 1px solid;
}

.fcaption {
  border: #000 1px solid;
  padding: 2px 0px 2px 8px;
  background-color: #C9C7C7;
  font: 12px verdana, tahoma, arial, helvetica, sans-serif;
  background-image: url("fcap.png");
  color: #fff;
}

.captiontopleft {
  width: 24px;
  background-image: url("topleft.png");
}

.captiontopmiddle {
  width: 100%;
  background-repeat: repeat-x;
  background-image: url("top.png");
}

.captiontopright {
  width: 11px;
  background-image: url("topright.png");
}

.captionleft {
  width: 24px;
  background-image: url("capleft.png");
}

.captionbar {
  background-repeat: repeat-x;
  padding-right: 10px;
  font-size: 10px;
  color: #fff;
  font-family: verdana, tahoma, arial, sans-serif;
  background-image: url("capdark.png");
}

.captionend {
  width: 12px;
  background-image: url("captransition.png");
}

.captionmain {
  width: 100%;
  background-repeat: repeat-x;
  background-image: url("caplight.png");
}

.captionright {
  width: 11px;
  background-image: url("capright.png");
}

.bodyleft {
  width: 3px;
  background-repeat: repeat-y;
  background-image: url("left.png");
}

.bodymain {
  width: 100%;
  background: #DAE7F3;
  padding: 4px 5px 5px 4px;
  font-size: 10px;
  color: #000;
  font-family: verdana, tahoma, arial, sans-serif;
  vertical-align: top;
}

.bodyright {
  width: 3px;
  background-repeat: repeat-y;
  background-image: url("right.png");
}

.bottomleft {
  width: 10px;
  background-image: url("bottomleft.png");
}

.bottommain {
  width: 100%;
  background-repeat: repeat-x;
  background-image: url("bottom.png");
}

.bottomright {
  width: 10px;
  background-image: url("bottomright.png");
}

.finfobar {
  background-color: #DBE5F5;
  font: 15px verdana, tahoma, arial, helvetica, sans-serif;
  color: #000;
  padding: 4px;
  border: #C3BDBD 1px solid;
  background-image: url("finfobar.png");
}

a.forumlink {
  color: #fff;
  text-decoration: underline;
}

.topborder {
  border-bottom: #000 1px solid;
}

.bottomborder {
  border-top: #000 1px solid;
  border-bottom: #000 1px solid;
}

.alttd {
  background-color: #C8DDEE;
  font: 10px verdana, tahoma, arial, helvetica, sans-serif;
  color: #000;
}

.code {
  border: #9F9F9F 1px solid;
  padding: 8px;
  background-color: #EEECEC;
  font: 12px courier, arial, verdana, tahoma, helvetica, sans-serif;
  color: #000040;
}

.nforumholder {
  border: 1px solid #345487;
  padding: 0px;
  background-color: #fff;
}

.nforumcaption {
  background-image: url("nforumcaption.png");
  padding: 8px 4px 8px 4px;
  font: 12px verdana, tahoma, arial, helvetica, sans-serif;
  color: #fff;
}

.nforumcaption2 {
  background-image: url("nforumcaption2.png");
  padding: 8px 0px 8px 4px;
  font: 10px verdana, tahoma, arial, helvetica, sans-serif;
  color: #000;
  font-weight: bold;
}

.nforumcaption3 {
  border: 1px solid #fff;
  padding: 4px;
  background-color: #E4EAF2;
  font: 12px verdana, tahoma, arial, helvetica, sans-serif;
}

.nforumthread {
  border: 1px solid #fff;
  padding: 4px;
  background-color: #EEF2F7;
  font: 10px verdana, tahoma, arial, helvetica, sans-serif;
}

.nforumthread2 {
  border: 1px solid #fff;
  padding: 4px;
  background-color: #D1DCEB;
  font: 10px verdana, tahoma, arial, helvetica, sans-serif;
}

.nforumreplycaption {
  border: 1px solid #fff;
  padding: 4px;
  background-color: #E2EDF2;
  font: 12px verdana, tahoma, arial, helvetica, sans-serif;
}

.nforumreply {
  border: 1px solid #fff;
  padding: 4px;
  background-color: #EDF4F7;
  font: 10px verdana, tahoma, arial, helvetica, sans-serif;
}

.nforumreply2 {
  border: 1px solid #fff;
  padding: 4px;
  background-color: #CFE0EB;
  font: 10px verdana, tahoma, arial, helvetica, sans-serif;
}

.nforumdisclaimer {
  font: 9px verdana, tahoma, arial, helvetica, sans-serif;
  color: #5d6e75;
}

.nforumview1 {
  border: 1px solid #fff;
  padding: 4px;
  background-color: #E4EAF2;
  font: 10px verdana, tahoma, arial, helvetica, sans-serif;
}

.nforumview2 {
  border: 1px solid #fff;
  padding: 4px;
  background-color: #DFE6EF;
  font: 10px verdana, tahoma, arial, helvetica, sans-serif;
}

.nforumview3 {
  padding: 4px;
  background-color: #BCD0ED;
  font: 10px verdana, tahoma, arial, helvetica, sans-serif;
  color: #263448;
}

.nforumview4 {
  padding: 4px;
  background-color: #E4EAF2;
  font: 9px verdana, tahoma, arial, helvetica, sans-serif;
  color: #3A4F6C;
}

tfoot .category-footer {
  display: flex;
  align-items: center;
  justify-content: right;
  background-color: red;
}