/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* ---- Layout ----  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5% /* makes 1rem 10px */
}

body {
    font-size: 1.6rem; /* default font of 16px */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-display: swap;
    line-height: 1.5;
    color: #373737;
    background-color: #E7E7E7;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
  color: #fff;
}

header .banner-container {
  background-color: #91a3c6;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

.banner-container img {
  object-fit: contain;
  width: 455px;
  height: 77px;
}

header .search-bar {
  display: flex;
  justify-content: end  ;
  align-content: center;
}

main {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.container {
  display: flex;
  flex-grow: 1;
  width: 100%;
}

.sidebar {
  flex-grow: 0; /* Prevent sidebar from expanding beyond its content */
  flex-basis: 200px; /* Minimum width */
  max-width: 20%; 
}

.sidebar ul {
  list-style-type: none;
}

.main-content {
  flex-grow: 1;
  width: 100%; /* Allow to fill available width */
}

/* Layout Helpers - Reusable */

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.gap-4 {
  gap: 0.5rem; /* Use rem for spacing */
}

.stack {
  display: flex;
  flex-direction: column;
  padding: 8px;
}

/* ---- Button ----  */

.btn { 
  flex: 1;
  max-width: max-content;
  display: flex;
  padding: 0.5rem 1rem; 
  border: 1px solid transparent;
  border-radius: 0.25rem;
  text-decoration: none;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.2s, border-color 0.2s
 }

 .btn-group {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.btn-primary {
  background-color: #1971C2; 
  color: #fff;
  border-color: #1864AB; 
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background-color: #4DABF7;
  border-color: #4DABF7;
}

.btn-secondary {
  background-color: #E8590C; 
  color: #fff;
  border-color: #D9480F; 
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active {
  background-color: #FFA94D;
  border-color: #FFA94D;
}

.btn-tertiary {
  background-color: #343A40; 
  color: #fff;
  border-color: #212529; 
}

.btn-tertiary:hover,
.btn-tertiary:focus,
.btn-tertiary:active {
  background-color: #CED4DA;
  border-color: #CED4DA;
  color: #000;
}

.btn-success {
  background-color: #2F9E44; 
  color: #fff;
  border-color: #2B8A3E; 
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active {
  background-color: #69DB7C;
  border-color: #69DB7C;
}

.btn-danger {
  background-color: #E03131; 
  color: #fff;
  border-color: #C92A2A; 
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active {
  background-color: #FF8787;
  border-color: #FF8787;
}

/* Card */

.custom-card {
  max-width: 100%;
  font-family: verdana, tahoma, arial, helvetica, sans-serif;
  font-size: 10px;
  background: #DAE7F3;
  color: #000;
  border-radius: 4px;
  box-shadow: 
    #505559 0px 0px 1px 2px, 
    #5a5e62 0px 4px 6px -1px, 
    #8b8d90 0px 1px 0px inset; 
}

.custom-card .card-header {
  height: 18px; 
  font-size: 10px;
  font-family: verdana, tahoma, arial, sans-serif;
  color: #FFF;
  background: linear-gradient(#c7d3e6 10%, #869ac0 40%, #8d9fc2 50%);
  border-bottom: 1px solid black;
}

.custom-card .card-header .header-content { 
  background: linear-gradient(#6c7e9e 50%, #5b6c8e 50%);
  display: flex;
  align-items: center;
  gap: 4px; 
  height: 100%; 
  padding: 0 24px 0 4px; 
  border-radius: 0 11px 3px 0; 
}

.custom-card .card-header img {
  height: 10px;
  width: 10px;
}

.custom-card .card-body {
  padding: 4px 5px 5px 4px;
}

/* Category */

.category-title {
  color: #716d6d;
  font-size: 12px;
  text-decoration: underline;
}